<!-- <footer class="site-footer">

   <div class="newsletter-wrapper">
    <div class="newsletter-box">
      <input
        type="email"
        placeholder="Enter your email to get the latest news..."
        [(ngModel)]="email"
        class="newsletter-input"
      />
      <button (click)="subscribe()" class="newsletter-button">Subscribe</button>
    </div>
  </div>



  <div class="container">
    <div class="footer-grid">
       <div class="footer-links">
        <h4>Column one</h4>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/features">Features</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Column Two</h4>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/features">Features</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Column Three</h4>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/features">Features</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
<div class="footer-social">
  <h4>Contact Us</h4>


  <div class="app-downloads">

<a href="#" target="_blank">
  <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
       alt="Download on the App Store"
       style="height: 40px;margin:2px" />
</a>



  <div class="me-2">
    <a href="#" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
       alt="Get it on Google Play"
       style="height: 40px;margin:2px" />
</a>

  </div>

  </div>

  <div class="join-us mt-3">
    <p><strong>Join us</strong></p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-youtube text-white"></i></a>
      <a href="#"><i class="fab fa-facebook-f text-white"></i></a>
      <a href="#"><i class="fab fa-twitter text-white"></i></a>
      <a href="#"><i class="fab fa-instagram text-white"></i></a>
      <a href="#"><i class="fab fa-linkedin-in text-white"></i></a>
    </div>
  </div>
</div>

    </div>
<hr class="footer-divider" />

    <div class="footer-bottom">
      <div class="footer-bottom-left">
           <p>
      MyLoanCRM &copy; 2025 . All rights reserved.

      </p>
      </div>
       <div class="footer-bottom-right">
          <p>
           Eleven
          </p>
          <p>Twelve</p>
          <p>Thirteen </p>
       </div>

    </div>
  </div>
</footer>


<div class="sticky-cta">
  <button class="btn btn-primary">Schedule a Call</button>
</div> -->
 <!-- <div class="subscription-container">
  <h2 class="newsletter-heading" style=" display: flex; flex-direction: column;  justify-content: center; align-items: center;">
    Subscribe to Our Newsletter</h2>
  <div class="subscription-content">
  

    <form [formGroup]="subscribeForm" (ngSubmit)="onSubscribe()" novalidate>
      <div class="form-wrapper">
        <input
          type="email"
          formControlName="email"
          class="form-control newsletter-input"
          placeholder="Enter your email"
        />
        <button
          type="submit"
          [disabled]="loading || subscribeForm.invalid"
          class="btn newsletter-button"
        >
          {{ loading ? 'Subscribing...' : 'Subscribe' }}
        </button>
      </div>
    </form>
  </div>
</div> -->



<footer class="site-footer" style="background-color: #F7F7F7;">
  <div class="subscription-container">
  <h4>Subscribe to our newsletter</h4>
  <br>
    <form [formGroup]="subscribeForm" (ngSubmit)="onSubscribe()" novalidate>
      <div class="form-wrapper">
        <input
          type="email"
          formControlName="email"
          class="form-control newsletter-input"
          placeholder="Enter your email"
        />
        <button
          type="submit"
          [disabled]="loading || subscribeForm.invalid"
          class="btn newsletter-button"
        >
          {{ loading ? 'Subscribing...' : 'Subscribe' }}
        </button>
      </div>
    </form>
  
</div>
  <!-- Newsletter Section at Top -->
  <div class="newsletter-wrapper">
    <!-- <div class="card" style="background-image: url('../../assets/images/BG\ \(1\).svg'); width: 800px; height: 100px;">
      <div class="newsletter-box">
      <form [formGroup]="subscribeForm" (ngSubmit)="onSubscribe()" novalidate>
        <div class="d-flex align-items-center gap-2">
          <input
            type="email"
            formControlName="email"
            class="form-control newsletter-input me-2"
            placeholder="Enter your email"
          />
          
          <button
            type="submit"
            [disabled]="loading || subscribeForm.invalid"
            class="btn newsletter-button"
          >
            {{ loading ? "Subscribing..." : "Subscribe" }}
          </button>

        </div>
      </form>
    </div>

    </div> -->
   

  </div>

  <!-- Main Footer Content -->
  <div class="container">
    <div class="footer-grid">

        <!-- <h3 class="text-uppercase fw-bold mb-2">MyLoanCRM</h3> -->
         <!-- <img
          src="../../assets/images/updatedlogo.png"
          alt="MyLoanCRM" class="footer-logo"
        /> -->
      <div class="" >
        <div>
          <img
          src="../../assets/images/updatedlogo.png"
          alt="MyLoanCRM" class="footer-logo"
        />
        </div>
          <div class="socialicons">
          <a href="https://www.instagram.com/my_loan_crm?igsh=Nno3aWV4b2NiOW9r"><img src="../../assets/images/insta.svg"></a>
          <a href="https://x.com/Myloancrm"><img src="../../assets/images/twitter.svg" alt=""></a>
          <a href="https://www.facebook.com/profile.php?id=61580323859697"><img src="../../assets/images/facebook.svg" alt=""></a>
          <a href="https://www.youtube.com/@myloancrm"><img src="../../assets/images/youtube.svg" alt=""></a>
        </div>
      </div>

      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/features">Features</a></li>
          <li><a routerLink="/services">Services </a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Legal</h4>
        <ul>
          <li><a routerLink="/terms-of-service">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="footer-social">
        <h4>Contact Us</h4>
        <div class="contact-info">
          <p class="mb-1">
            <i class="text-white"></i> 
            +91 81792 78882
          </p>
          <p>
            <i class="text-white"></i>
            connect&#64;myloancrm.com
          </p>
        </div>
      </div>
    </div>
    <hr class="footer-divider" />
    <!-- <div class="footer-bottom">
      <p>
        &copy; 2025 MyLoanCRM. All rights reserved. |
        <a href="#">Privacy Policy</a>
      </p>
    </div> -->

    <div class="footer-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <p>© Copyright 2025, All Rights Reserved by MyLoanCRM</p>
      </div>
    </div>
  </div>
</footer>

<!-- STICKY CTA -->
<!-- <div class="sticky-cta" >
  <button class="btn btn-primary" style="background-color: #5932EA;">Schedule a Call</button>
</div> -->
