<!-- <div class="about-heading mb-2">
  <div class="container text-center p-2">
    <h2 class="section-title mb-3">Features</h2>
    <div class="section-description">
      Discover powerful features designed to simplify your loan process,
      accelerate approvals, and empower your DSA business to scale effortlessly.
    </div>
  </div>
</div>

<div class="about-heading">
  <img src="/assets/images/about/about-banner.png" alt="About Banner" class="w-100 img-fluid">
  <h2 class="section-title position-absolute top-50 start-50 translate-middle text-white">About</h2>
</div>
<div class="about-section container">
  <div class="section container">

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-phone-volume fa-2x"></i>
          </div>
          <div>
            <h4>Callback Management</h4>
            <p>
              Schedule and track client callbacks efficiently to ensure timely
              follow-ups and improved customer engagement, minimizing missed
              opportunities.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/customer_obsessesed"
          alt="Customer Obsessed"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>


    <div class="row align-items-center flex-md-row-reverse mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-address-book fa-2x text-primary"></i>
          </div>
          <div>
            <h4>Lead Management</h4>
            <p>
              Efficiently capture and categorize leads by diverse loan products,
              enabling targeted workflows. Access and update detailed lead
              profiles with ease, supported by powerful advanced filtering and
              segmentation tools for enhanced decision-making.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/innovation.jpg"
          alt="Innovation"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>
  </div>

  <div class="section mt-3">
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-file-upload fa-2x"></i>
          </div>
          <div>
            <h4>Document Management</h4>
            <p>
              Securely collect, store, and verify borrower documents with
              seamless access controls and real-time tracking to streamline
              application processing and ensure compliance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/technology.jpg"
          alt="Customer Obsessed"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>


    <div class="row align-items-center flex-md-row-reverse mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-bank fa-2x"></i>
          </div>
          <div>
            <h4>Multi Lender Management</h4>
            <p>
              Automatically match applicants with the most suitable banks and
              NBFCs based on eligibility, profile, and lending criteria.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/Trusted Expertise.jpg"
          alt="Innovation"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-chart-line fa-2x"></i>
          </div>
          <div>
            <h4>CIBIL Report Integration</h4>
            <p>
              Instantly fetch and analyze CIBIL reports using API integration to
              evaluate creditworthiness, reduce delays, and make informed
              lending decisions in real-time.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/credit-score.jpg"
          alt="CIBIL Report Integration"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/sales-tracking.jpg"
          alt="Real-Time Sales Tracking"
          class="img-fluid"
          width="300px"
        />
      </div>
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-tachometer-alt fa-2x"></i>
          </div>
          <div>
            <h4>Real-Time Sales Tracking</h4>
            <p>
              Monitor daily sales activity, conversion rates, and loan
              disbursals in real-time—empowering teams to stay proactive,
              data-driven, and aligned with their performance goals.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-user-cog fa-2x"></i>
          </div>
          <div>
            <h4>Smart DSA Lifecycle Management</h4>
            <p>
              Manage onboarding, activation, payouts, and performance reviews of
              DSAs with full transparency and operational efficiency—enhancing
              partner satisfaction and productivity.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/sales-tracking.jpg"
          alt="Real-Time Sales Tracking"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/analytics.jpg"
          alt="Reporting & Analytics"
          class="img-fluid"
          width="300px"
        />
      </div>
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-chart-pie fa-2x"></i>
          </div>
          <div>
            <h4>Reporting & Analytics</h4>
            <p>
              Generate detailed performance reports, track KPIs, and analyze
              trends to support informed decision-making across teams and
              leadership levels.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-envelope-open-text fa-2x"></i>
          </div>
          <div>
            <h4>Automated Email Communication</h4>
            <p>
              Streamline your outreach with automated emails for lead nurturing,
              status updates, reminders, and document requests—ensuring
              consistent communication and improved customer engagement.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/automated-emails.jpg"
          alt="Automated Email Communication"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container-fluid feature-map-section py-5 px-3">
  <div class="position-relative text-center">
    Centered Image -->
  <!-- <img
      src="/assets/images/features/featurebanner.png"
      alt="Feature Map"
      class="img-fluid feature-map-img"
    />   -->
    <!-- <div class="features-heading" style=" display: flex; flex-direction: column;  justify-content: center; align-items: center;">
      <h2><b><span class="accent" style="color: #8E89D0;">Features</span>
    that Keep You <span class="accent" style="color:#8E89D0;">Ahead</span></b></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo neque laudantium error, atque maxime illo 
      commodi modi molestiae 
      dolor sed porro magnam alias fugiat laborum est incidunt dignissimos, aspernatur perspiciatis!</p>
    </div> -->
  <!-- <div class="feature-grid">
    <div class="card featurecard">
    <div class="card">
       <img src="../../assets/images/backgroundimg.svg" class="card-img-top" alt="...">
    </div>
        <h5><b>Lead Generation</b></h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid,
          deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, est impedit. Possimus excepturi nobis commodi. Tempora, laudantium! Veritatis, suscipit assumenda, voluptates adipisci esse quibusdam perspiciatis quia animi quasi, aut nulla!</p>
    </div>

   <div class="card featurecard">
    <div class="card">
       <img src="../../assets/images/backgroundimg.svg" class="card-img-top" alt="...">
    </div>
        <h5><b>Lead Generation</b></h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid,
           nobis commodi. Tempora, laudantium! Veritatis, suscipit assumenda,quia animi quasi, aut nulla!</p>
    </div>
   <div class="card featurecard">
    <div class="card">
       <img src="../../assets/images/backgroundimg.svg" class="card-img-top" alt="...">
    </div>
        <h5><b>Lead Generation</b></h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid,
          deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, est impedit. Possimus excepturi nobis commodi. Tempora, laudantium! Veritatis, suscipit assumenda, voluptates adipisci esse quibusdam perspiciatis quia animi quasi, aut nulla!</p>
    </div>
     <div class="card featurecard">
    <div class="card">
       <img src="../../assets/images/backgroundimg.svg" class="card-img-top" alt="...">
    </div>
        <h5><b>Lead Generation</b></h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid,
          deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, est impedit. Possimus excepturi nobis commodi. Tempora, laudantium! Veritatis, suscipit assumenda, voluptates adipisci esse quibusdam perspiciatis quia animi quasi, aut nulla!</p>
    </div>
 <div class="card featurecard">
    <div class="card">
       <img src="../../assets/images/backgroundimg.svg" class="card-img-top" alt="...">
    </div>
        <h5><b>Lead Generation</b></h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid,
          deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, est impedit. Possimus excepturi nobis commodi. Tempora, laudantium! Veritatis, suscipit assumenda, voluptates adipisci esse quibusdam perspiciatis quia animi quasi, aut nulla!</p>
    </div>
   <div class="card featurecard">
    <div class="card">
       <img src="../../assets/images/backgroundimg.svg" class="card-img-top" alt="...">
    </div>
        <h5><b>Lead Generation</b></h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid,
          deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, est impedit. Possimus excepturi nobis commodi. Tempora, laudantium! Veritatis, suscipit assumenda, voluptates adipisci esse quibusdam perspiciatis quia animi quasi, aut nulla!</p>
    </div>
  <div class="card featurecard">
    <div class="card">
       <img src="../../assets/images/backgroundimg.svg" class="card-img-top" alt="...">
    </div>
        <h5><b>Lead Generation</b></h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid,
          deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, est impedit. Possimus excepturi nobis commodi. Tempora, laudantium! Veritatis, suscipit assumenda, voluptates adipisci esse quibusdam perspiciatis quia animi quasi, aut nulla!</p>
    </div>
   <div class="card featurecard">
    <div style="height: 150px;"></div> 
    <h3>Lead Generation</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aliquid,
      eum maxime sapiente omnis numquam ipsam. Praesentium, corrupti tempora 
      veniam molestiae atque et amet harum obcaecati dignissimos ullam debitis 
      deleniti.</p>
    
  </div> -->
   
<!-- </div> --> 

<!-- 
  </div>
</div> --> 


<div class="featsdd">
   <!-- Section 1: About Us Image 1 -->
      <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 text-center d-none d-md-block">
      <img
        src="../../assets/images/leadmanagement.svg"
        alt="Lead Management"
        class="img-fluid my-3"
      />
      </div>

      <div class="col-md-6 order-1 order-md-2 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Lead Management</h2>
      <img
        src="../../assets/images/leadmanagement.svg"
        alt="Lead Management"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
        Easily capture, track, and manage leads from multiple sources in one
        platform. With Loan CRM lead management, you can assign leads, set
        reminders, and monitor progress to ensure faster loan closures. Increase
        your sales efficiency and never miss an opportunity.
      </p>
      </div>
      </div>
      </div>

      <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-1 order-md-1 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Automated Communication</h2>
      <img
        src="../../assets/images/actomated communication.svg"
        alt="Automated Communication"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
    Send SMS, WhatsApp, and email updates to customers automatically. Our loan CRM automated communication tool reduces manual work, improves customer experience, and ensures timely notifications for approvals, repayments, and loan offers.
      </p>
      </div>

      <div class="col-md-6 order-2 order-md-2 text-center d-none d-md-block">
      <img
        src="../../assets/images/actomated communication.svg"
        alt="Automated Communication"
        class="img-fluid my-3"
      />
      </div>
      </div>
      </div>

    <!-- Section 2: Who We Are Image 2 -->
     <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 text-center d-none d-md-block">
      <img
        src="../../assets/images/document managementttt.svg"
        alt="Document Management"
        class="img-fluid my-3"
      />
      </div>

      <div class="col-md-6 order-1 order-md-2 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Document Management</h2>
      <img
        src="../../assets/images/document managementttt.svg"
        alt="doc Management"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
      Upload, verify, and store all borrower documents securely in one place. 
      With digital document management, loan processing becomes faster and error-free.
       Easily access KYC, income proof, bank statements, and agreements anytime.
      </p>
      </div>
      </div>
      </div>

      <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-1 order-md-1 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Cibil Report Integration</h2>
      <img
        src="../../assets/images/cibil report 1.svg"
        alt="Cibil Report Integration"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
      Instantly fetch and analyze CIBIL credit scores within the CRM.
       This helps in evaluating customer eligibility faster and making smarter
        lending decisions. Our low-cost CIBIL API integration ensures accuracy and saves time.
      </p>
      </div>

      <div class="col-md-6 order-2 order-md-2 text-center d-none d-md-block">
      <img
        src="../../assets/images/cibil report 1.svg"
        alt="cibil report"
        class="img-fluid my-3"
      />
      </div>
      </div>
      </div>
      <!-- <div class="container my-5">
        <div class="row align-items-center flex-column flex-md-row">
        <div class="col-md-6 text-center mb-3 mb-md-0">
        <img
          src="../../assets/images/doc management.svg"
          alt="Document Management"
          class="img-fluid"
        />
        </div>
        <div class="col-md-6">
        <h2 class="fw-bold">Document management</h2>
        <p>
         Upload, verify, and store all borrower documents securely in one
          place. With digital document management, loan processing becomes
           faster and error-free. Easily access KYC, income proof, bank
            statements, and agreements anytime.
        </p>
        </div>
        </div>
        </div> -->

        <!-- <div class="container my-5">
        <div class="row align-items-center flex-column-reverse flex-md-row">
          <div class="col-md-6 mt-3 mt-md-0">
            <h2 class="fw-bold">Cibil Report Integration</h2>
            <p>
              Instantly fetch and analyze CIBIL credit scores within the CRM. 
              This helps in evaluating customer eligibility faster and making
               smarter lending decisions. 
              Our low-cost CIBIL API integration ensures accuracy and saves time.
            </p>
          </div>
          <div class="col-md-6 text-center">
            <img
              src="../../assets/images/cibil report 1.svg"
              alt="cibil report"
              class="img-fluid"
            />
          </div>
        </div>
        </div>
         -->
<!-- section3 -->
<div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 text-center d-none d-md-block">
      <img
        src="../../assets/images/bankstatementanalyzererrre.svg"
        alt="Bank Statement Analyzer"
        class="img-fluid my-3"
      />
      </div>

      <div class="col-md-6 order-1 order-md-2 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Bank Statement Analyzer</h2>
      <img
        src="../../assets/images/bankstatementanalyzererrre.svg"
        alt="Bank Statement Analyzer"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
       Analyze borrower bank statements with AI-powered insights. Identify income patterns, repayment capacity, and risk factors. With loan CRM bank statement analyzer, lenders can make informed credit decisions instantly.
      </p>
      </div>
      </div>
      </div>

      <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-1 order-md-1 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">GST Analyzer</h2>
      <img
        src="../../assets/images/gst analyzers.svg"
        alt="GST Analyzer"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
        Seamlessly verify borrower GST returns for business loans. Our GST analyzer tool ensures transparency, reduces fraud risk, and speeds up loan approval for SMEs and business clients.
      </p>
      </div>

      <div class="col-md-6 order-2 order-md-2 text-center d-none d-md-block">
      <img
        src="../../assets/images/gst analyzers.svg"
        alt="GST Analyzer"
        class="img-fluid my-3"
      />
      </div>
      </div>
      </div>
 <!-- <div class="container my-5">
        <div class="row align-items-center flex-column flex-md-row">
        <div class="col-md-6 text-center mb-3 mb-md-0">
        <img
          src="../../assets/images/bank statement analyzers.svg"
          alt="Lead Management"
          class="img-fluid"
        />
        </div>
        <div class="col-md-6">
        <h2 class="fw-bold">Bank Statement Analyzer</h2>
        <p>
          Analyze borrower bank statements with AI-powered insights.
           Identify income patterns, repayment capacity, and risk factors.
            With loan CRM bank statement analyzer, lenders can make informed
             credit decisions instantly.
        </p>
        </div>
        </div>
        </div> -->

        <!-- <div class="container my-5">
        <div class="row align-items-center flex-column-reverse flex-md-row">
          <div class="col-md-6 mt-3 mt-md-0">
            <h2 class="fw-bold">GST Analyzer</h2>
            <p>
              Seamlessly verify borrower GST returns for business loans. 
              Our GST analyzer tool ensures transparency, reduces fraud risk,
               and speeds up loan approval for SMEs and business clients.
            </p>
          </div>
          <div class="col-md-6 text-center">
            <img
              src="../../assets/images/gst analyzers.svg"
              alt="Automated Communication"
              class="img-fluid"
            />
          </div>
        </div>
        </div> -->

    <!-- section-4 -->
 <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 text-center d-none d-md-block">
      <img
        src="../../assets/images/loan offer genetating.svg"
        alt="Loan Offer Generating"
        class="img-fluid my-3"
      />
      </div>

      <div class="col-md-6 order-1 order-md-2 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Loan Offer Generating</h2>
      <img
        src="../../assets/images/loan offer genetating.svg"
        alt="Loan Offer Generating"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
        Generate personalized loan offers instantly based on borrower profile, CIBIL score, and income data. The loan offer generator in our CRM helps DSAs and NBFCs close deals faster with customized terms.
      </p>
      </div>
      </div>
      </div>

      <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-1 order-md-1 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Performance Analytics</h2>
      <img
        src="../../assets/images/performance analyticssss.svg"
        alt="Performance Analytics"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
      Track Team, agents and branch performance with real-time dashboards. Our CRM performance analytics shows lead conversion ratios, disbursal trends, and team productivity, helping lenders improve profitability.
      </p>
      </div>

      <div class="col-md-6 order-2 order-md-2 text-center d-none d-md-block">
      <img
        src="../../assets/images/performance analyticssss.svg"
        alt="Performance Analytics"
        class="img-fluid my-3"
      />
      </div>
      </div>
      </div>

        <!-- <div class="container my-5">
        <div class="row align-items-center flex-column flex-md-row">
        <div class="col-md-6 text-center mb-3 mb-md-0">
        <img
          src="../../assets/images/loan offer genetating.svg"
          alt="loan offer generating"
          class="img-fluid"
        />
        </div>
        <div class="col-md-6">
        <h2 class="fw-bold">Loan Offer Generating</h2>
        <p>
          Generate personalized loan offers instantly
           based on borrower profile, CIBIL score, and income data.
            The loan offer generator in our CRM helps DSAs and NBFCs
             close deals faster with customized terms.
        </p>
        </div>
        </div>
        </div> -->

        <!-- <div class="container my-5">
        <div class="row align-items-center flex-column-reverse flex-md-row">
          <div class="col-md-6 mt-3 mt-md-0">
            <h2 class="fw-bold">Performance Analytics</h2>
            <p>
              Track Team, agents and branch performance with
               real-time dashboards. Our CRM performance analytics 
               shows lead conversion ratios, disbursal trends, and team
                productivity, helping lenders improve profitability.
            </p>
          </div>
          <div class="col-md-6 text-center">
            <img
              src="../../assets/images/performance.svg"
              alt="performance analytics"
              class="img-fluid"
            />
          </div>
        </div>
        </div> -->
    <!-- section-5 -->
        <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 text-center d-none d-md-block">
      <img
        src="../../assets/images/customizable.svg"
        alt="customizable"
        class="img-fluid my-3"
      />
      </div>

      <div class="col-md-6 order-1 order-md-2 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Customizable </h2>
      <img
        src="../../assets/images/customizable.svg"
        alt="customizable"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
        Design your own loan approval journey with custom CRM workflows. From lead capture to disbursal, automate repetitive tasks, reduce errors, and speed up loan processing.
      </p>
      </div>
      </div>
      </div>

      <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-1 order-md-1 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Reports</h2>
      <img
        src="../../assets/images/reports.svg"
        alt="performance"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
        Get detailed MIS and compliance reports in one click. The loan CRM reporting system provides insights on sales, leads, disbursals, and repayments, enabling smarter decision-making.
      </p>
      </div>

      <div class="col-md-6 order-2 order-md-2 text-center d-none d-md-block">
      <img
        src="../../assets/images/reports.svg"
        alt="customizable"
        class="img-fluid my-3"
      />
      </div>
      </div>
      </div>
 <!-- <div class="container my-5">
        <div class="row align-items-center flex-column flex-md-row">
        <div class="col-md-6 text-center mb-3 mb-md-0">
        <img
          src="../../assets/images/customizable.svg"
          alt="customizable workflow"
          class="img-fluid"
        />
        </div>
        <div class="col-md-6">
        <h2 class="fw-bold">Customizable Workflows </h2>
        <p>
         Design your own loan approval journey with custom CRM workflows.
         From lead capture to disbursal, automate repetitive tasks, reduce
         errors, and speed up loan processing.
        </p>
        </div>
        </div>
        </div> -->

        <!-- <div class="container my-5">
        <div class="row align-items-center flex-column-reverse flex-md-row">
          <div class="col-md-6 mt-3 mt-md-0">
            <h2 class="fw-bold">Reports</h2>
            <p>
             Get detailed MIS and compliance reports in one click.
              The loan CRM reporting system provides insights on sales,
              leads, disbursals, and repayments, enabling smarter decision-making.
            </p>
          </div>
          <div class="col-md-6 text-center">
            <img
              src="../../assets/images/reports.svg"
              alt="reports"
              class="img-fluid"
            />
          </div>
        </div>
        </div> -->
    <!-- section-6 -->
     <div class="container my-5">
      <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1 text-center d-none d-md-block">
      <img
        src="../../assets/images/integrations.svg"
        alt="integrations"
        class="img-fluid my-3"
      />
      </div>

      <div class="col-md-6 order-1 order-md-2 text-center text-md-start d-flex flex-column">
      <h2 class="fw-bold order-1">Integrations & Security</h2>
      <img
        src="../../assets/images/integrations.svg"
        alt="integrations"
        class="img-fluid my-3 d-md-none order-2"
      />
      <p class="order-3">
       Our CRM integrates with multiple APIs, and payment gateways. With enterprise - grade data security & encryption, lenders can operate confidently without risk of data leakage.
      </p>
      </div>
      </div>
</div>


</div>
     
       <!-- <div class="container my-5">
        <div class="row align-items-center flex-column flex-md-row">
        <div class="col-md-6 text-center mb-3 mb-md-0">
        <img
          src="../../assets/images/integrations.svg"
          alt="integration"
          class="img-fluid"
        />
        </div>
        <div class="col-md-6">
        <h2 class="fw-bold">Integrations & Security</h2>
        <p>
          Our CRM integrates with multiple APIs, and payment gateways.
          With enterprise - grade data security & encryption, lenders
          can operate confidently without risk of data leakage.
        </p>
        </div>
        </div>
        </div> -->

       

