<div class="about-heading mb-2">
  <div class="container text-center p-2">
    <h2 class="section-title mb-3">Features</h2>
    <div class="section-description">
      Discover powerful features designed to simplify your loan process,
      accelerate approvals, and empower your DSA business to scale effortlessly.
    </div>
  </div>
</div>
<div class="about-section container">
  <div class="section container">
    <!-- Feature 1: Customer-Obsessed -->

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-phone-volume fa-2x"></i>
          </div>
          <div>
            <h4>Callback Management</h4>
            <p>
              Schedule and track client callbacks efficiently to ensure timely
              follow-ups and improved customer engagement, minimizing missed
              opportunities.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/customer_obsessesed"
          alt="Customer Obsessed"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>

    <!-- Feature 2: Innovation -->
    <div class="row align-items-center flex-md-row-reverse mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-address-book fa-2x text-primary"></i>
          </div>
          <div>
            <h4>Lead Management</h4>
            <p>
              Efficiently capture and categorize leads by diverse loan products,
              enabling targeted workflows. Access and update detailed lead
              profiles with ease, supported by powerful advanced filtering and
              segmentation tools for enhanced decision-making.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/innovation.jpg"
          alt="Innovation"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>
  </div>

  <div class="section mt-3">
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-file-upload fa-2x"></i>
          </div>
          <div>
            <h4>Document Management</h4>
            <p>
              Securely collect, store, and verify borrower documents with
              seamless access controls and real-time tracking to streamline
              application processing and ensure compliance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/technology.jpg"
          alt="Customer Obsessed"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>

    <!-- Feature 2: Innovation -->
    <div class="row align-items-center flex-md-row-reverse mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-bank fa-2x"></i>
          </div>
          <div>
            <h4>Multi Lender Management</h4>
            <p>
              Automatically match applicants with the most suitable banks and
              NBFCs based on eligibility, profile, and lending criteria.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/Trusted Expertise.jpg"
          alt="Innovation"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-chart-line fa-2x"></i>
          </div>
          <div>
            <h4>CIBIL Report Integration</h4>
            <p>
              Instantly fetch and analyze CIBIL reports using API integration to
              evaluate creditworthiness, reduce delays, and make informed
              lending decisions in real-time.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/credit-score.jpg"
          alt="CIBIL Report Integration"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/sales-tracking.jpg"
          alt="Real-Time Sales Tracking"
          class="img-fluid"
          width="300px"
        />
      </div>
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-tachometer-alt fa-2x"></i>
          </div>
          <div>
            <h4>Real-Time Sales Tracking</h4>
            <p>
              Monitor daily sales activity, conversion rates, and loan
              disbursals in real-time—empowering teams to stay proactive,
              data-driven, and aligned with their performance goals.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-user-cog fa-2x"></i>
          </div>
          <div>
            <h4>Smart DSA Lifecycle Management</h4>
            <p>
              Manage onboarding, activation, payouts, and performance reviews of
              DSAs with full transparency and operational efficiency—enhancing
              partner satisfaction and productivity.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/sales-tracking.jpg"
          alt="Real-Time Sales Tracking"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/analytics.jpg"
          alt="Reporting & Analytics"
          class="img-fluid"
          width="300px"
        />
      </div>
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-chart-pie fa-2x"></i>
          </div>
          <div>
            <h4>Reporting & Analytics</h4>
            <p>
              Generate detailed performance reports, track KPIs, and analyze
              trends to support informed decision-making across teams and
              leadership levels.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-start">
        <div class="feature-card mb-3">
          <div class="icon-box m-2">
            <i class="fas fa-envelope-open-text fa-2x"></i>
          </div>
          <div>
            <h4>Automated Email Communication</h4>
            <p>
              Streamline your outreach with automated emails for lead nurturing,
              status updates, reminders, and document requests—ensuring
              consistent communication and improved customer engagement.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <img
          src="../../assets/images/automated-emails.jpg"
          alt="Automated Email Communication"
          class="img-fluid"
          width="300px"
        />
      </div>
    </div>
  </div>
</div>
