.terms-of-service h5 {
  margin-top: 1.5rem;
  font-weight: 600;
  color: #ff6b00; /* or your brand's orange */
}
.terms-of-service h2 {
  font-weight: 700;
  color: #29415b;
  margin-bottom: 1rem;
}
.terms-of-service p,
.terms-of-service ul {
  font-size: 1.06rem;
  color: #444;
}
.terms-of-service {
  margin-top: 70px;
}
.terms-of-service ul {
  padding-left: 1.2rem;
}
